/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: #fff;
	-fx-background-image: url("img/back.png");
}

#BACK{
	-fx-background-image: url("img/Arrows-Back-icon.png");
	-fx-background-position: center center; 
	-fx-background-repeat: stretch;
}	

#btn_message{
	-fx-background-image: url("img/message.png");
	-fx-background-position: center center; 
	-fx-background-repeat: stretch;
}
